/Qt5Core.dll
/Qt5Gui.dll
/Qt5SerialPort.dll
/Qt5Svg.dll
/Qt5Widgets.dll
/Qt5Xml.dll
/history.cfg
/iotflash-lib.dll
/libEGL.dll
/mt76x7-flash-tool-console.exe
/mt76x7-flash-tool.exe
/release-note.txt
/version.txt
