/DownloadLib.dll
/FlashTool.exe
/GNSS_DL.dll
/IoT_Flash_Tool_Console_Mode_on_Windows_Users_guide.pdf
/IoT_Flash_Tool_Users_Guide.pdf
/MTK_AllInOne_DA.bin
/MTK_AllInOne_DA_GNSS_MP.BIN
/Qt5Core.dll
/Qt5Gui.dll
/Qt5Widgets.dll
/ReleaseNote.xls
/coda.exe
/msvcp100.dll
/msvcr100.dll
