/ble_smart_connect.Debug.cspy.bat
/ble_smart_connect.Debug.cspy.ps1
/ble_smart_connect.Debug.driver.xcl
/ble_smart_connect.Debug.general.xcl
/ble_smart_connect.crun
/ble_smart_connect.dbgdt
/ble_smart_connect.dnx
/ble_smart_connect.wsdt
/ble_smart_connect_Debug.jlink
